.main {
  width: 100%;
  height: auto;
  padding: 60px 102px;
  gap: 60px;
  background-color: #ededed;
}

.recipes_container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 66px;
}
